<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/logo__1_-removebg-preview.png" />
    <link rel="stylesheet" href="~/css/principal.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Paintball Candeias</title>
</head>

<body>
    
    <img id="ft_1_tinta" src="~/img/tinta 2.png" width="7%" height="100px">
    <div id="fs_p">
        <h1 id="frase_prin">Libere seu estresse brincando</h1>
        <h3 id="frase_sub">O melhor lugar para você!</h3>
        <img id="ft_prin" src="~/img/ft principal.png" width="38%">
    </div>

    <img id="ft_2_tinta" src="~/img/tinta 1.png" width="16%" height="220px">

    <div id="linhas">
        <hr id="l1">
        <hr id="l2">
    </div>
    <div id="rets">
        <div id="ret_1_horario">
            <div id="ret_2_horario">
                <img id="ft_horario" src="~/img/horario.png">
            </div>

            <ul class="texto_horario">
                <h3>Nossos Horarios:</h3>
                <hr id="linha_horario">
                <p><b>Sexta-feira:</b> 8h até 19h</p>
                <p><b>Sábado:</b> 8h até 19h</p>
                <p><b>Domingo:</b> 8h até 19h</p>
            </ul>
        </div>
        <div id="ret_1_valores">
            <div id="ret_2_valores">
                <img id="ft_valores" src="~/img/valores-removebg-preview.png">
            </div>

            <ul class="texto_valores">
                <h3>Nossos Valores:</h3>
                <hr id="linha_valores">
                <p>1 hora por pessoa, o valor é R$35,00.</p>
            </ul>
        </div>
        <div id="ret_1_equipamento">
            <div id="ret_2_equipamento">
                <img id="ft_equipamento" src="~/img/equipamento.png">
            </div>

            <ul class="texto_equipamentos">
                <h3>Nossos Equipamentos:</h3>
                <hr id="linha_equipamento">
                <p>Fornecemos aos nossos clientes como equipamento: 1 arma + 1 colete + 1 oculos + 1 macacão.</p>
            </ul>
        </div>
    </div>

   
</body>
<script src="js/jsprincipal.js"></script>

</html>